@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
    
* {
  overflow: hidden;
  box-sizing: border-box;
}

:root {
  background: black;
  overflow-y: auto;
  font-family: 'Ubuntu Mono', monospace;

  color-scheme: dark;   

  --black: #000;
  --blood: #844d44;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
}

body {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: hidden;
  justify-content: center;
  /* background: url('img/bg.jpg') top left / 40% no-repeat; */
  background-attachment: fixed;
}

::selection {
  background: var(--blood);
  color: var(--black);
}

.sidebar {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

  .phoenix-ascii {
    margin-right: -40px; 
    cursor: normal; 
    -webkit-user-drag: none;
    filter: hue-rotate(0deg) saturate(1.3);
    transition: filter 10s;
  }

  .phoenix-ascii:active {
    filter: hue-rotate(202deg) saturate(1.5)
  }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  /*max-width: 1200px;*/ /* FN: for store */
  padding: 0 35px 35px 35px;
  margin: 0 0 0em;

  color: #ad9e8a;
  font-size: 16px;
  line-height: 1.6;
}

.main p {
  max-width: 490px;
  text-align: left;
  margin: 0;
}
  .since {
    font-size: 13px;
    color: #705d61;
  }

  ul {
      list-style: none;
      padding-left: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

.logo {
  font-size: 8px;
  text-align: center;
  text-rendering: optimizeSpeed;
  color: #1dd588;
  /* color: #1dd588; // hover green */
  /*color: #a05857; // darker red */
  line-height: 8px;
}

  .logo a:hover { color: rgb(186, 99, 96); }

body {
  margin: 0;
}

  h2 {
    display: inline-block;
    padding: 0.5em 0;
    margin-top: 2em;
    font-weight: normal;
    font-size: inherit;
    color: #934a46;
  }

  h3 {
    margin: 0 auto;
    font-size: inherit;
    font-weight: normal;
    text-align: center;
  }

  .active {
    font-weight: normal;
    font-style: normal;
    color: #934a46;
  }

  
/* PROJECTS */


.archive {
  max-width: 250px;
  margin: 0 auto;
}

.nyx {
  max-width: 250px;
  margin: 0 2em 2em;
}

.projects {
  display: flex;
  margin-top: 0;
}

.projects li {
  margin-top: 0;
  width: 240px;
}

.projects pre {
  font-size: 12px;
  line-height: 1.1em;
}

pre a {
  border-bottom: none;
}

.about {
  line-height: 1.3;
}

pre a:link {
  border-bottom: none;
}

/* add underline to non-ascii within 
pre-tag and normalise font-size */
.projects .no-ascii {
  font-style: normal;
  font-size: 16px;
  padding: 0.5em 1em;
  background: #272525;
  color: #b9af94;
}
  .projects .no-ascii:hover {
    background: #a2b669;
    color: var(--black);
  }

.clink {
  color: #7dba73;
  font-style: normal;
}


/* COLORS */

.red { color: #934a46; font-style: normal; }
    .red:hover { color: #1dd588; }
.green { color: #488c63; font-style: normal; font-weight: normal; }
.lake { color: #4f6a59; font-style: normal; }
.violet { color: #76506c; font-style: normal; }
.fire { color: #8d5c4a; font-style: normal; }
.blue { color: #466593; font-style: normal; font-weight: normal; }
.silver { color: #7a7a7a; font-style: normal; }


.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center	;
}

.products > a {
  flex-grow: 1;
  margin: 25px;
  display: flex;
}

.products > a > img {
  object-fit: cover;
  flex-grow: 1;
  height: 300px;
}

  a:link { color: #1dd588; }
  a:active { color: #1dd588; }
  a:hover { color: #8f8b72; }

  a {
      text-decoration: none;
      color: inherit;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
  }

  .content a, a:visited {
    border-bottom: 1px solid #934a46;
  }

  /*
  a img:hover {
    opacity: 0.7;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
   -webkit-filter: blur(2px);
  }
  */


  .links {
    display: flex; 
    gap: 1.5em;
    margin: 2em 0 3em;
  }

  .links a:link { color: #66937e; }
  .links a:visited { color: #66937e; }
  .links a:active { color: #4f6766; }
  .links a:hover { color: #4f6766; }



@media (max-width: 900px) {
  :root {
    overflow-x: auto;
  }
  body {
    flex-direction: column;
    min-width: 320px;

    /* background: url('img/bg.jpg') top right / 100% no-repeat; */
  }
  .sidebar {
    width: 100%;
    border: none;
    position: relative;
    margin-top: 0;
  }

  .logo {
    font-size: 7px;
    line-height: 7px;
  }

  nav {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main > img {
    padding: 0;
    /*max-width: 100vw;*/
    overflow: hidden;
    display: block;
    min-width: 100%;
  }

  .menu {
    text-align: center;
    max-width: 100%;
    line-height: 40px;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .menu > a {
    margin: 0 20px;
  }
  .products > a {
    margin: calc(4vw + -11px) calc(5vw - 20px);
  }

  .doublelist {
    margin-right: 1.5em;
  }

  .projects {
    margin-top: -2em;
    flex-direction: column;
  }
    .archive {
      margin-bottom: 3em;
    }

  /* navi spacing smaller */
  nav {
    word-spacing: 0;
  }

  /* phoenix smaller */
  .phoenix-ascii {
    max-width: 380px;
    margin-top: 1em;
    margin-bottom: -2em;
    margin-left: -1em;
  }

}
