* {
  overflow: hidden;
  box-sizing: border-box;
}
:root {
  background: black;
  overflow-y: auto;
  font-family: monospace;
}
body {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: hidden;
  justify-content: center;
  background: url('img/bg.jpg') top left / 40% no-repeat;
  background-attachment: fixed;
}
.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-right: 2px solid #0e0e0e;
}
.main {
  max-width: 1200px;
  min-width: 400px;
  padding: 0 35px 35px 35px;

      color: #ad9e8a;
      font: 16px monospace;
      line-height: 1.6;
}
.main p {
  max-width: 600px;
}

/* Remove this and the one below to bring vertical navi back */
.main > nav > ul > li > a, .main > nav > ul > li > em {
  font-size: 16px;
  display: inline-block;
}

.main > nav > ul > li {
  display: inline-block;
  margin-top: 32px;
}

nav {
  word-spacing: 0.7em;
  margin-bottom: 1em;
}

  ul {
      list-style: none;
      padding-left: 0;
  }

  li {
    margin: 0;
  }

.team-logo {
  background: url(img/logo-hover.png);
  background-size: cover;
  height: 230px;
  width: 310px;
  position: fixed;
  top: 51px;
}

.team-mascot {
  width: 300px;
  position: fixed;
  top: 280px;
}

body {
  margin: 0;
}

  h2 {
    display: inline-block;
    padding: 0.5em 0;
    margin-top: 2em;
    font-weight: normal;
    font-size: inherit;
    color: #a23939;
    border-top: 1px dashed #635e59;
    border-bottom: 1px dashed #635e59;
  }

  h3 {
    margin: 0 0 1em;
  }

  .active {
    border-bottom: 1px solid #934a46;
    font-weight: normal;
    font-style: normal;
    color: #934a46;
  }

/*
.menu > a:not(:hover) {
  text-decoration: none;
}

.menu > a {
  color: #a8836b;
  margin: 0 7px;
}

.menu {
  padding: 50px 0 25px 25px;
}
*/

  .about {
      margin: 0em 0 2em;
      font-size: 16px;
  }

  .team {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
  }
  
  .frame {
    margin: 1em 0;
    margin-right: 2em;
    padding-right: 1em;
  }

  .team em {
    border-radius: 5px;
    font-style: normal;
    padding: 2px 5px;
    font-size: 16px;
    color: black;
  }

  .doublelist {
    float: left;
    margin-right: 3.2em;
  }

  .team h2 {
    margin: 0 0 1em; 
  }

  .team h4 {
    font-weight: normal;
    margin: 0;
  }

  .supporters {
    max-width: 600px;
  }
  
  .supporters h3 {
    color: #5f6e61;
    font-size: inherit;
    font-weight: normal;
    text-transform: uppercase;
    margin: 2em 0 1em;
  } 
  
.team .founder  { background: #ba6360; }
.team .coreteam { background: #cca385; }
.team .music    { background: #855f67; }
.team .graphics { background: #4f6766; }
.team .scripts  { background: #ccb9a5; }
.team .web      { background: #8c5f4e; }


/* NEWS */

.news {
  margin-top: -1em;
}

.news > p {
  padding: 0.5em 0 1.5em;
  border-bottom: 1px dashed #635e59;
}


/* PROJECTS */

.hide {
  display: none;
}

.archive {
  max-width: 250px;
}

.archive:hover + .hide {
  display: block;
  color: red;
}

.nyx {
  max-width: 150px;
  margin: -8em 2em 2em;
  position: absolute;
}

.projects li {
  float: left;
  margin: 0px 1em 5em;
  padding-right: 0em;
  width: 250px;
}

.projects a {
  border-bottom: none;
}

pre {
  line-height: 1.3;
}

pre a:link {
  border-bottom: none;
}

.questions {
  clear: both;
  max-width: 500px;
}

/* CONTRIB */

.jobs p {
  margin: -1em 0;
  margin: 2em 0;
  padding: 1em;
  border: 1px dashed #635e59;
}

.jobs strong {
  color: #5f6e61;
}

.framed {
  max-width: initial;
  margin: 0em 0;
  border: 1px dashed #635e59;
}

/* Go Back Link */
.return {
  margin: 4em 0 1em;
}



/* COLORS */

.red { color: #ba6360; }
.green { color: #488c63; font-style: normal; }


.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center	;
}

.products > a {
  flex-grow: 1;
  margin: 25px;
  display: flex;
}

.products > a > img {
  object-fit: cover;
  flex-grow: 1;
  height: 300px;
}

  a:link { color: inherit; }
  a:visited { color: inherit; }
  a:active { color: #55504a; }
  a:hover { color: #f2ad7a; }

  a {
      text-decoration: none;
      border-bottom: 1px solid #934a46;
      color: inherit;
      outline-offset: 2px;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
  }

  a img:hover {
    opacity: 0.7;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-filter: blur(2px);
  }
  

@media (max-width: 900px) {
  :root {
    overflow-x: auto;
  }
  body {
    flex-direction: column;
    min-width: 320px;

          background: url('img/bg.jpg') top right / 100% no-repeat;
  }
  .sidebar {
    width: 100%;
    border: none;
    position: relative;
    margin-top: 25px;
  }
  .team-logo {
    position: relative;
    top: 0;
  }
  .team-mascot {
    position: relative;
    top: 0;
    /*display: none;*/
  }
  
  nav {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main > img {
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
    display: block;
    min-width: 100%;
  }
  .menu {
    text-align: center;
    max-width: 100%;
    line-height: 40px;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .menu > a {
    margin: 0 20px;
  }
  .products > a {
    margin: calc(4vw + -11px) calc(5vw - 20px);
  }

  .doublelist {
    margin-right: 1.5em;
  }
}
