{% include header-meta.html %}
<title>PhoenixTales</title>

<body id="mainpage">

  <div id="flexbox">

  <header>
    <div class="info">
      <h1 class="title hide-text">Phoenix Tales</h1>
        <!-- ABOUT+CONTACT -->
        <p class="about">
          We're indie developers of
          immersive tales; we offer
          radical gameplay mechanics
          in handcrafted worlds with
          unique aesthetics, rising
          from the industrial ashes.
        </p>
        <p class="contact">
          Email: <a href="mailto:mail@phoenixtales.de">mail@phoenixtales.de</a>
        </p>
        <p class="encrypt">
          Encrypt: <code><a href="phoenix-pub.asc">4AF3 C206 66C8 ED6F 6AA0 6D25 4E61 251A 35A0 992A</a></code>
        </p>
        <p class="social">
          Mastodon: <a href="https://mastodon.online/@phoenixtales"><img class="icon" src="img/icons/mastodon.svg" alt="Mastodon"></a>
          Discord: <a href="https://discord.gg/jyFP62U9JZ"><img src="img/icons/discord.png" alt="Phoenix the Game on Discord"></a>
        </p>
    </div>
    <div class="logo"></div>
  </header>

  {% include menu.html %}

  </div>

  {% include footer.html %}