/* PhoenixTales
 * Subpages */

html, body {
  margin: 0;
  background: url('../img/bg.jpg') top center / 700px no-repeat #000;

  width: 100%;

  color: #d1c1ad;
  font: 1.0em monospace, sans-serif, arial;
  line-height: 1.8;
}


h1,h2,h3,h4,h5,h6 {
  
  font-weight: bold;
  color: #b3514f;
}

h2, h3 {
  margin: 3em 0 1em;
  color: #5f6e61;
}

strong {
  color: #5f6e61;
}

pre {
  clear: both;
  line-height: 1.3;
}


/* HEADER DESKTOP */

header {
  margin: 1em auto;
  width: 300px;
  padding: 2em 3em;
}


.logo {
  margin: 0;
  background: url('../img/logo-hover.png');
  background-size: cover;
  width: inherit;
  height: 230px;
}

.logo:hover { 
  background-position-x: 303px; 
}


/* MAIN */

main {
  margin: 5em auto;
  padding: 0 2em;
  max-width: 600px;
}

main img {
  display: block;
  margin: 3em auto;
  max-width: 100%;
}

.inline {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 280px;
}

.left {
  float: left;
  margin-right: 2em;
}

.right {
  float: right;
  margin-left: 2em;
}



/* COLORS */

.red { color: #ba6360; }
.green { color: #488c63; }


/* LISTS */

ul {
  padding: 0;
  list-style: none;
}

.social li {
  float: left;
  padding-right: 2em;
}

.social img {
  margin: 20px 0px;
  max-width: 15px;
}


/* UTILITY */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a img:hover {
  opacity: 0.7;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}


::selection {
  background-color:rgba(239,198,138,0.996);
  color:#000;
}

img::selection {
  background-color:rgba(239,198,138,0.35);
}


/* LINKS */

a:link { color: #a8836b; }
a:visited { color: #a8836b; }
a:active { color: #55504a; }
a:hover { color: #f2ad7a; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.projects pre a:link { color: #d1c1ad; }
.projects pre a:hover { color: #7bab86; }

