body {
  background: black;
  max-width: 500px;
  font-family: monospace;
  font-size: 14px;
  margin: 3em auto;
  color: #8a7466;
}

p { padding: 2em 2em; }
a { color: inherit; }

footer {
  display: flex;
  justify-content: space-between;
}

  footer > img {
    max-width: 200px;
    max-height: 250px;
  }